body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
#div1{
    color: blueviolet;
}
.part2_link{
    color:blue;
    text-decoration: underline;
}

.part2_link:active{
    color:blue;
    text-decoration: underline;
}
